.divider-vertical {
    width: 2px;
    height: 24px;
    background-color: #E0E0E0;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #E0E0E0;
}

.w-content {
    max-width: max-content;
}

.table td,
.table th {
    padding: 12px 16px;
}

.dataTables_filter input,
.dataTables_length select {
    border-radius: 6px;
}

.dataTables_length label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 800 !important;
}

.dataTables_filter label {
    font-weight: 800 !important;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #424242;
}

.divider-green {
    background-color: #00913E;
    height: 4px;
    width: 100%;
    border-radius: 8px;
}

.modal-content {
    border-radius: 8px !important;
}

.input-group select {
    border-radius: 8px;
    width: 100%;
    border-color: #E0E0E0;
    padding: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 12px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: right center;
}

.form-control {
    transition: .2s;
}

.form-control:focus {
    border-color: #00913E !important;
}

.form-control:focus-visible {
    outline: 3px solid #C7F9C9;
}

.form-check-input:checked {
    outline: 3px solid #C7F9C9 !important;
}

.mentions-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.mentions-item-detail {
    border-radius: 999px;
    background-color: #C7F9C9;
    color: #00913E;
    width: fit-content;
    padding: 2px 12px;
}

.mentions-item,
.mentions-item-dosen,
.mentions-item-staf,
.mentions-item-mahasiswa {
    border-radius: 999px;
    background-color: #C7F9C9;
    color: #00913E;
    display: flex;
    gap: 2px;
    width: fit-content;
    align-items: center;
    padding: 2px 12px;
    padding-right: 4px;
}

.mentions-item .delete-btn,
.mentions-item-dosen .delete-btn,
.mentions-item-staf .delete-btn,
.mentions-item-mahasiswa .delete-btn {
    background-color: transparent;
    color: #00913E;
    outline: none;
    border: none;
}

.mentions-section {
    display: flex;
}

.border-active {
    position: absolute;
    left: 0;
    width: 80px;
    bottom: 0;
    height: 2px;
    background-color: #00913E;
    transition: .5s;
}

.btn-text {
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    width: max-content;

}

.btn-text.success:hover {
    color: #00913E !important;
}

.btn-text.danger {
    opacity: .6;
    transition: .5s;
}

.btn-text.danger:hover {
    color: #DC3645 !important;
    opacity: 1;

}

.filter,
.toggle-filter {
    width: max-content;
    margin-left: 160px;
    position: relative;
    z-index: 50;
    translate: 0 28px;
    align-items: end;
}

.filter {
    display: flex;
}

.toggle-filter {
    display: none;
}

.filter select:focus,
.toggle-filter select:focus {
    outline: none;
    border-color: #28A745;
    /* box-shadow: 0 0 5px 2px #C7F9C9; */
}

.filter select,
.toggle-filter select {
    padding: 2px 4px;
    text-transform: capitalize;
    border-radius: 6px;
    border-color: #CED4DA;
}

.filter label,
.toggle-filter-label,
.filter-in-modal label {
    margin: 0px;
    font-weight: 500 !important;
    display: flex;
    gap: 8px;
    align-items: center;
}

.filter-in-modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sub-title h4 {
    font-weight: 600;
    font-size: 24px;
    color: #202020;
    margin: 24px 0;
}

.dokumen-card {
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
}

.dokumen-card .label {
    font-size: 12px;
    color: #9E9E9E;
}

.dokumen-card .value {
    font-size: 14px;
    color: #424242;
    font-weight: 600;
}

.dokumen-card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #424242;
}

.footer-submit {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    z-index: 10;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 24px 24px 0px 0px;
    background: #FFF;
    box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.08);
}

.footer-submit .btn-success,
.footer-submit .btn-outline-success {
    border-radius: 8px;
    padding: 12px 0;
    text-align: center;
    width: 50%;
}

.or-divider {
    translate: 0 12px;
    color: #9E9E9E;
    font-size: 14px;
}

.error-input-left,
.error-input-right {
    font-size: 11px;
    position: absolute;
    bottom: -24px;
}

.error-input-left {
    left: 0;
}

.error-input-right {
    right: 0;
}

.status-warning {
    background-color: #fef3c7;
    color: #f59e0b !important;
}

.status-success {
    background-color: #dcfce7;
    color: #28A745 !important;
}

.status-danger {
    background-color: #fecaca;
    color: #ef4444 !important;
}

.ellipsis-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.ellipsis-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.large-modal {
    width: 70vw !important;
    position: absolute;
}

.sertif-nama-penerima {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    margin: 16px 0;
    font-family: 'Poppins', sans-serif;
}

.sertif-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
}

.sertif-content {
    position: absolute;
    left: 50%;
    top: 20%;
    translate: -50% 0;
    text-align: center;
    width: 65%;
}

.common {
    margin-top: 6px;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.preview-sertif-create {
    width: 572px;
    height: 408px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.sertif-title-small {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
}

.sertif-nama-penerima-small {
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    margin: 16px 0;
    font-family: 'Poppins', sans-serif;
}

.sign-sertif-small {
    text-align: start;
    margin: 12px auto;
    border: 1px solid #BDBDBD;
    padding: 8px;
    max-width: 160px;
}

.sign-sertif-small div:nth-child(1) {
    font-size: 7px;
}

.sign-sertif-small div:nth-child(2) {
    font-size: 8px;
    font-weight: 600;
    text-align: justify;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sign-sertif-small div:nth-child(3) {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 800;
}

.sign-sertif {
    text-align: start;
    margin: 16px auto;
    border: 1px solid #BDBDBD;
    padding: 8px;
    max-width: 240px;
}

.small-container {
    max-width: 640px;
    margin: 0 auto;
}

.row {
    row-gap: 6px;
}

.sign-sertif div:nth-child(1) {
    font-size: 10px;
}

.sign-sertif div:nth-child(2) {
    font-size: 10px;
    font-weight: 600;
    text-align: justify;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-sertif div:nth-child(3) {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 800;
}

.common-small {
    margin-top: 6px;
    font-size: 9px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.preview-suratcuti-container {
    z-index: -10;
    padding-bottom: 48px;
}

.suratcuti-wrapper {
    width: 620px;
}

.fs-10 {
    font-size: 10px !important;
}

.preview-suratcuti-container .section-1 {
    width: 240px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: 48px;
}

.preview-suratcuti-container .title {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: 700;
}

.preview-suratcuti-container table,
.preview-suratcuti-container th,
.preview-suratcuti-container td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    font-size: 10px;
}

.preview-suratcuti-container table {
    margin-left: 1.5cm;
    width: 93%;
}

.preview-suratcuti-container th,
.preview-suratcuti-container td {
    padding: 1px 2px;
}

.preview-suratcuti-container .label {
    width: 64px;
}

.preview-suratcuti-container .check {
    width: 16px;
    font-weight: 800px !important;
}

.preview-suratcuti-container th {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

@media screen and (max-width:600px) {
    .large-modal {
        width: 90vw !important;
    }

    .footer-submit .btn-success,
    .footer-submit .btn-outline-success {
        width: 100%;
    }

    .footer-submit {
        position: relative;
        translate: -12px;
    }
}

@media screen and (max-width:990px) {
    .filter {
        display: none;
    }

    .toggle-filter {
        display: block;
    }
}