@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
html,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

h2 {
  font-family: 'Viga', sans-serif;
  font-size: 35px;
}

.form-signin {
  max-width: 400px;
  padding: 35px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.btn-login {
  background-color:#00923F;
  height: 45px;
  color: white;
  font-size: medium;
}

.btn-login:hover {
  background-color: #00923F;
  color: white;
}