@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
html,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-family: 'Viga', sans-serif;
  font-size: 35px;
}

.form-signin {
  box-shadow: 2px 2px 2px 2px #dbdbdb;
  border-radius: 20px;
  max-width: 400px;
  padding: 35px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 20px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 20px;
}